body {
    background-color: radial-gradient(circle, rgba(255,255,255) 0%, rgba(89,167,162) 100%);
    
}

/*  --- CIRCLE --- */
.circle {
    display: flex;
    width: 600px;
    margin: 50px auto 0;
}

.top-left-quarter-circle{
	width: 300px;
    height: 300px;
    border-radius: 300px 0 0 0;
    background-color: rgb(126, 126, 126);
    transition: transform 0.3s;
}

.top-left-quarter-circle:hover {
    background-color: rgb(43, 158, 129);
    box-shadow: -10px -10px 10px rgb(27, 131, 105) inset;
    transform: translate(-15px,-15px) scale(1.03);
    cursor: pointer;
}

.bottom-left-quarter-circle {
    width: 300px;
    height: 300px;
    border-radius: 0 0 0 300px;
    background-color: rgb(83, 83, 83);
    transition: transform 0.3s;
}

.bottom-left-quarter-circle:hover {
    background-color: rgb(187, 57, 57);
    box-shadow: -10px -10px 10px rgb(149, 50, 50) inset;
    transform: translate(-15px, 15px) scale(1.03);
    cursor: pointer;
}

.top-right-quarter-circle{
	width: 300px;
    height: 300px;
    border-radius: 0 300px 0 0;
    background-color: rgb(63, 63, 63);
    transition: transform 0.3s;
}

.top-right-quarter-circle:hover {
    background-color: rgb(41, 41, 182);
    box-shadow: -10px -10px 10px darkblue inset;
    transform: translate(15px, -15px) scale(1.03);
    color: rgb(103, 154, 250);
    cursor: pointer;
}

.bottom-right-quarter-circle {
    width: 300px;
    height: 300px;
    border-radius: 0 0 300px 0;
    background-color: rgb(180, 180, 180);
    transition: transform 0.3s;
}

.bottom-right-quarter-circle:hover {
    background-color: rgb(243, 194, 61);
    box-shadow: -10px -10px 10px rgb(214, 165, 30) inset;
    transform: translate(15px, 15px) scale(1.03);
    color: white;
    cursor: pointer;
}

.img-rps {
    position: relative;
    top: 95px;
    left: 95px;
    width: 60%;
}

.img-hm {
    position: relative;
    top: 10px;
    left: 115px;
    width: 60%;
    transform: rotate(45deg);
}

.p-mm {
    position: relative;
    left: 50px;
    transform: rotate(-45deg);
    font-family: 'Fira Sans', sans-serif;
    font-size: 120px;
}

.random-choice {
    position: relative;
    right: 90px;
    transform: rotate(-135deg);
    font-family: 'Fira Sans', sans-serif;
    font-size: 120px;
}

/*  --- CHOOSE YOUR GAME text --- */

.text {
    display: flex;
    width: 600px;
    margin: 50px auto 0;
    font-family: 'Permanent Marker';
    color: black;
    font-size: 40px;
}

.choose {

}

.your {

}

.game {

}
