*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: grey;
    width: 100%;
}

.title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: min(100vw, 600px);
    margin: 0 auto;
    padding-block: 1rem;
}

.title-bar h1 {
    font-size: 2rem;
}

.fa-bars{
    font-size: 2rem;
    transition: color .3s ease,
                transform .3s ease;
}

.fa-bars:hover{
    cursor: pointer;
    color: black;
    transform: scale(1.15);
}

.fa-bars:active {
    color: grey;
}

.description-wrapper {
    padding-block: 1rem ;
    text-align: center;
    font-size: 1.3rem;    
    background-color: lightgray;
}

.description {
    padding-block-end: .5rem;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: clamp(240px, 5vw, 400px);    
}

.input-btn {
    border: none;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.25) inset;
}

.input-btn:hover {
    cursor: pointer;
    opacity: .8;
}

.input-btn:active {
    box-shadow: none;
    opacity: .5;
}

.game-area {
    width: min(100vw, 600px);
    min-width:calc(250px + 2rem);
    min-height: 400px;
    margin: 0 auto;
    padding: 1rem;    
    color: white;
    background-color: black;
}

.game-area > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-area > .text-area {
    display: flex;
    justify-content: flex-end;
}

.text-area i{
    padding: .5rem;
    border-bottom: 1px solid white;
}

.game {
    display: flex;
    align-items: center;
}

.game div {
    margin: .25rem;
}

.red, .blue, .green, .purple, .yellow {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.yellow {
    background-color: yellow;
}

.text{
    padding-inline: .5rem;
    font-size: 2rem;
    border-bottom:  1px solid white;
    
}

@media only screen and (max-width: 600px) {
    .title-bar {
        width: 90%;
    }
    .title-bar > h1 {
        font-size: 1.7rem;
    }

    .description-wrapper { 
        padding-inline: min(.5rem, 2vw);
        font-size: 1rem;
    }

    body {
        background-color: black;
    }
}


/* --- Game end --- */
.bg-game-over {
    position: absolute;
    display: none;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.794);
    transition: display 1s;
}

.fg-game-over {
    min-width: 400px;
    width: 40%;
    height: 300px;
    margin: 200px auto 0;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: black;
    border: 3px solid white;
}

.fg-game-over h1 {
    font-size: 40px;
    margin: 30px 0 50px; 
}

.restart-btn {
    margin: 80px 10px 0;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(0, 77, 107);
    border: 2px solid white;
    transition: background-color 0.5s;
}

.restart-btn:hover {
    cursor: pointer;
    background-color: rgb(44, 109, 184);
}

.restart-btn:active {
    background-color: white;
    color: rgb(44, 109, 184);
    border: 2px solid rgb(44, 109, 184);
}