*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --prim-bg: #223843;
    --sec-bg: rgb(27, 27, 27);
    --tin-bg: #DBD3D8;
    --prim-acc: #D77A61;
    --sec-acc: #D8B4A0;
}


body {
    /* background-color: black; */
    background: rgb(40,63,74);
    background: linear-gradient(0deg, rgba(40,63,74,1) 0%, rgba(3,20,29,1) 100%);
    min-height: 100vh;
    /* background: radial-gradient(circle, rgba(40,63,74,1) 0%, rgba(3,20,29,1) 100%); */
}

.header {
    background-color: var(--sec-bg);
    color: var(--tin-bg);
    width: 100%;
}

.title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: min(100vw, 600px);
    margin: 0 auto;
    padding-block: 1rem;
    border-bottom: var(--tin-bg) 1px solid;

}

.title-bar h1 {
    font-size: 2rem;
}

.fa-bars{
    font-size: 2rem;
    transition: color .3s ease,
                transform .3s ease;
}

.fa-bars:hover{
    cursor: pointer;
    color: white;
    transform: scale(1.04);
}

.fa-bars:active {
    color: grey;
}

.description-wrapper {
    padding-block: 1rem ;
    text-align: center;
    font-size: 1.3rem;    
    
    background-color:  var(--sec-bg);
}

.description {
    padding-block-end: .5rem;
}

.btn-wrapper {
    width: min(100vw, 600px);
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: clamp(240px, 5vw, 400px);    
}

.input-btn {
    border: none;
    position: relative;
    z-index: 1;
    box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 1px 2px 1px rgba(0, 0, 0, 0.5);
    border-bottom: solid 2px rgba(0,0,0,.4);
}

.input-btn:hover {
    cursor: pointer;
    opacity: .8;
}

.input-btn:active {
    box-shadow: none;
    opacity: .5;
}

.fa-undo-alt{
    margin-inline-end: .5rem;
    font-size: 1.6rem;
    filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.185));
    padding: .5rem;
    transition: color .3s ease,
                transform .3s ease;
}

.fa-undo-alt:hover{
    cursor: pointer;
    color: white;
    transform: scale(1.04);
}

.game-area {
    width: min(100vw, 600px);
    min-width:calc(250px + 2rem);
    min-height: 400px;
    margin: 0 auto;
    padding: 1rem;    
    color: white;
}

.header, .game-area {
    transition:  filter 0.3s ease;
}

.game-area > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-area > .text-area {
    display: flex;
    justify-content: flex-end;
}

.text-area i{
    padding: .5rem;
    border-bottom: 1px solid white;
}

.game {
    display: flex;
    align-items: center;
}

.game div {
    margin: .25rem;
}

.red, .blue, .green, .purple, .yellow {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.yellow {
    background-color: yellow;
}

.text{
    padding-inline: .5rem;
    font-size: 2rem;
    border-bottom:  1px solid white;
    
}

@media only screen and (max-width: 600px) {
    .title-bar {
        width: 90%;
    }
    .title-bar > h1 {
        font-size: 1.7rem;
    }

    .description-wrapper { 
        padding-inline: min(.5rem, 2vw);
        font-size: 1rem;
    }
}



/* --- Game end --- */
.blur {
    filter: blur(50px);
}

.bg-game-over {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 1;
    inset: 0 0 0 0;
    transform: translateY(100%);
    transition: transform .5s;
}

.fg-game-over {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: min(100vw, 600px);
    margin: clamp(10px, 10vh, 150px) auto;
    padding: 0 1rem;
    min-height: 40vh;
    text-align: center;
    color: white;
    background-color: var(--prim-bg);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.192);
}

.fg-game-over h1 {
    font-size: 2rem; 
    border-bottom: var(--tin-bg) solid 1px;
}

.fg-game-over > h1, .fg-game-over > p {
    order: -1;
    padding: 1rem;
    width: min(90%, 300px);
}

.fg-game-over > #solution-wrapper > span {
    display: inline-block;
    margin: 0 .2rem;
}

#solution-wrapper {
    width: min(90%, 300px);
}

.menu-btn-container{
    display: flex;
    flex-direction: column;
    align-content : center;
    gap: 1rem;
}

.restart-btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: white;
    border: none;
    border-radius: 5rem;
    transition: color 0.3s,
                background-color 0.3s;
}

.restart-btn:hover {
    cursor: pointer;
    color: white;
    background-color: var(--prim-acc);
}